vti_encoding:SR|utf8-nl
vti_author:SR|IMRKELVIN\\iMrKelvin_
vti_modifiedby:SR|IMRKELVIN\\iMrKelvin_
vti_timelastmodified:TR|07 Apr 2017 00:38:52 -0000
vti_timecreated:TR|17 Mar 2017 01:24:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|onceTWICE.html
vti_nexttolasttimemodified:TW|03 Apr 2017 08:06:30 -0000
vti_cacheddtm:TX|03 Apr 2017 08:06:30 -0000
vti_filesize:IR|222
